<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <title>Help_desk</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <style>
    .aform {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.ainput {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}</style>
</head>
<body>
<header>
    <span sec:authentication="name">Username</span>
    Roles: <span sec:authentication="principal.authorities">Roles</span>
    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
</header>
<table width="100%"
       style="height:100%">
    <tr>
        <td width="15%">
            <div class="category-wrap">
                <h3>Menu</h3>
                <ul>
                    <li><a th:href="@{/}">List event</a></li>
                    <li><a href="/user/view_user">Users</a></li>
                    <li><a href="/admin/view_admin">Admins</a></li>
                    <li><a th:href="@{/registration}">Registrations</a></li>
                </ul>
            </div>
        </td>
        <td width="85%">

                        <div>

                            <form class="aform" th:action="@{/registration}" method="post" th:object="${user}">

                                    <h2 align="center">Sign Up</h2>

                                <div>
                                    <label for="username">User Name</label>
                                    <input class="ainput" type="text" id="username" th:field="*{username}" placeholder="Username" />
                                </div>
                                <div>
                                    <label for="password">Password</label>
                                    <input class="ainput" type="password" th:field="*{password}" id="password" placeholder="Password" />
                                </div>
                                <div>
                                    <label for="confirmPassword">Confirm Password</label>
                                    <input class="ainput" type="password" th:field="*{confirmPassword}" id="confirmPassword" placeholder="Confirm Password" />
                                </div>

                                <input class="ainput" type="submit" value="Sign Up"/>
                            </form>
                        </div>
        </td>
    </tr>
</table>

<footer>
    <div>
        <h2>Aleksey Yasakov</h2>
    </div>
</footer>

</body>
</html>