<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <style>
    .prokrutka {
    margin: auto;
            height: 200px; /* высота нашего блока */
            width: 500px; /* ширина нашего блока */
    overflow-y: scroll; /* прокрутка по вертикали */
    }
    </style>
    <style>
        .size {
        margin: auto;
        height: 130px; /* высота нашего блока */
        width: 500px; /* ширина нашего блока */
        }
       </style>


</head>
    <body>
<div align="center" style="margin: auto;
                    height: 50px;
                    width: 500px;">
                <h1>Edit admins</h1>
</div>

   <div style="width: 500px;
           margin: auto;">
   <div align="left" >
    <table border="1" >
                              <tr>
                    <th width="40">id</th>
                    <th width="200">name</th>
                </tr>

            </table>
             </div>

            <div align="left" class="prokrutka">
            <table border="1" >
                <tr th:each="admins : ${admins}">
                <td width="40" th:text="${admins.id}"></td>
                    <td width="200" th:text="${admins.name}"></td>
                </tr>
            </table>
            </div>
            </div>


<div class="size">
          <fieldset>
              <legend>Add admin</legend>
              <form th:action="@{/admin/add_admin}"  th:object="${admin}" method="post">
                  <div >
                      <input type="text" id="name" th:field="*{name}" placeholder="Name" />
                  </div>
                  <input type="submit" value="Create"/>
              </form>
          </fieldset>
      </div>
<div class="size">
    <fieldset>
        <legend>Edit/Delete admins</legend>
        <form name="e/d" action="" th:object="${adminF}" method="POST">
            <table>
                <tr>
                    <td>Id     :</td>
                    <td>Name   :</td>
                </tr>
                <tr>
                    <td><input type="text" id="id" th:field="*{id}"/></td>
                    <td><input type="text" id="aname" th:field="*{name}"/></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Find" formaction="find_admin"/></td>
                    <td><input type="submit" value="Edit" formaction="edit_admin"/></td>
                    <td><input type="submit" value="Delete" formaction="delete_admin"/></td>
                </tr>
            </table>
        </form>
    </fieldset>
</div>
<div class="size">
    <a href="/"><button>Menu</button></a>
</div>
    </body>
</html>