<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <style>
    .prokrutka {
    margin: auto;
            height: 200px; /* высота нашего блока */
            width: 800px; /* ширина нашего блока */
    overflow-y: scroll; /* прокрутка по вертикали */
    }
    </style>
    <meta charset="utf-8"/>
    <title>Help_desk</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="fragments/include :: header"></div>

<table width="100%"
       style="height:100%">
    <tr>
        <td width="15%">
            <div th:replace="fragments/include :: menu"></div>
        </td>
        <td width="85%">
            <div align="center">

                <fieldset>
                    <legend>Add event</legend>
                    <form th:action="@{/addEvent}"  th:object="${event}" method="post">
                        <div >
                            <input type="text" id="description" th:field="*{description}" placeholder="description" />
                        </div>
                        <input type="submit" value="Create"/>
                    </form>
                </fieldset>
            </div>
        </td>
    </tr>
</table>

<div th:replace="fragments/include :: footer"></div>
</body>
</html>