<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <style>
    .prokrutka {
    margin: auto;
            height: 200px; /* высота нашего блока */
            width: 800px; /* ширина нашего блока */
    overflow-y: scroll; /* прокрутка по вертикали */
    }
    </style>
    <meta charset="utf-8"/>
    <title>Help_desk</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <span sec:authentication="name">Username</span>
     Roles: <span sec:authentication="principal.authorities">Roles</span>
    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
        <button type="submit" >Logout</button>
    </form>
</header>

<table width="100%"
       style="height:100%">
    <tr>
        <td width="15%">
            <div class="category-wrap">
                <h3>Menu</h3>
                <ul>
                    <li><a th:href="@{/}">List event</a></li>
                    <li sec:authorize="hasRole('ROLE_SUPERADMIN')"><a th:href="@{/user}">Users</a></li>
                    <li sec:authorize="hasRole('ROLE_SUPERADMIN')"><a th:href="@{/admin}">Admins</a></li>
                    <li sec:authorize="hasRole('ROLE_SUPERADMIN')"><a th:href="@{/quality}">Quality</a></li>
                    <li sec:authorize="hasRole('ROLE_SUPERADMIN')"><a th:href="@{/status}">Status</a></li>
                </ul>
            </div>
        </td>
        <td width="85%">
            <div align="center" style="margin: auto;
                    height: 50px;
                    width: 800px;">
                <h1>Events</h1>
            </div>

            <div style="width: 800px;
           margin: auto;">
                <div align="left" >
                    <table border="1" >
                        <tr>
                            <th width="20">id</th>
                            <th width="100">user</th>
                            <th width="100">admin</th>
                            <th width="100">description</th>
                            <th width="100">date</th>
                            <th width="100">comment</th>
                            <th width="100">quality</th>
                            <th width="100">status</th>
                        </tr>

                    </table>
                </div>

                <div align="left" class="prokrutka">
                    <table border="1" >
                        <tr th:each="event : ${events}">
                            <td width="20" th:text="${event.id}"></td>
                            <td width="100"
                                th:title="${event.user.address}"
                                th:text="${event.user.name}"></td>
                            <td width="100" th:text="${event.admin.name}"></td>
                            <td width="100" th:text="${event.description}"></td>
                            <td width="100" th:text="${event.date}"></td>
                            <td width="100" th:text="${event.comment}"></td>
                            <td width="100" th:text="${event.quality.name}"></td>
                            <td width="100" th:text="${event.status.name}"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div align="center">
                <table>
                    <tr>
                        <td width="300">
                            <div
                                    sec:authorize="hasRole('ROLE_SUPERADMIN')
                                     or hasRole('ROLE_USER')">
                                <a
                                        th:href="@{/addEvent}"><button >add</button></a>
                            </div>

                        </td>
                        <td width="300">
                            <form
                                   th:action="@{/editEvent}"  th:object="${eventF}" method="get">
                                <div >
                                    <input type="text" id="id" th:field="*{id}" placeholder="id" />
                        <div th:if="${#fields.hasErrors('id')}" th:errors="*{id}">ID Error</div>
                                    <input type="submit" value="Edit"/>
                                </div>
                            </form>
                        </td>
                        <td>

                            <form sec:authorize="hasRole('ROLE_SUPERADMIN')"
                                    th:action="@{/deleteEvent}"  th:object="${eventF}" method="post">
                                <div >
                                    <input type="text" id="did" th:field="*{id}" placeholder="id" />
                                    <div th:if="${#fields.hasErrors('id')}" th:errors="*{id}">ID Error</div>
                                    <input type="submit" value="Delete"/>
                                </div>

                            </form>
                        </td>
                    </tr>
                </table>

            </div>
        </td>
    </tr>
</table>
<footer>
    <div>
        <h2>Aleksey Yasakov</h2>
    </div>
</footer>
</body>
</html>