<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <title>Help_desk</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <style>
    .prokrutka {
    margin: auto;
            height: 200px; /* высота нашего блока */
            width: 500px; /* ширина нашего блока */
    overflow-y: scroll; /* прокрутка по вертикали */
    }
    </style>
    <style>
        .size {
        margin: auto;
        height: 130px; /* высота нашего блока */
        width: 500px; /* ширина нашего блока */
        }
       </style>
</head>
<body>
<header>
    <span sec:authentication="name">Username</span>
    Roles: <span sec:authentication="principal.authorities">Roles</span>
    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
        <button type="submit" >Logout</button>
    </form>
</header>

<table width="100%"
       style="height:100%">
    <tr>
        <td width="15%">
            <div class="category-wrap">
                <h3>Menu</h3>
                <ul>
                    <li><a th:href="@{/}">List event</a></li>
                    <li sec:authorize="hasRole('ROLE_SUPERADMIN')"><a th:href="@{/user}">Users</a></li>
                    <li sec:authorize="hasRole('ROLE_SUPERADMIN')"><a th:href="@{/admin}">Admins</a></li>
                    <li sec:authorize="hasRole('ROLE_SUPERADMIN')"><a th:href="@{/quality}">Quality</a></li>
                    <li sec:authorize="hasRole('ROLE_SUPERADMIN')"><a th:href="@{/status}">Status</a></li>
                </ul>
            </div>
        </td>
        <td width="85%">
<div align="center" style="margin: auto;
                    height: 50px;
                    width: 500px;">
                <h1>Edit users</h1>
</div>

   <div style="width: 500px;
           margin: auto;">
   <div align="left" >
    <table border="1" >
                              <tr>
                    <th width="40">id</th>
                    <th width="200">name</th>
                    <th width="200">address</th>
                </tr>

            </table>
             </div>

            <div align="left" class="prokrutka">
            <table border="1" >
                <tr th:each="users : ${users}">
                    <td width="40" th:text="${users.id}"></td>
                    <td width="200" th:text="${users.name}"></td>
                    <td width="200" th:text="${users.address}"></td>
                </tr>
            </table>
            </div>
            </div>


<div style="width: 500px; margin: auto;" >
    <fieldset>
        <legend>Add admin</legend>
        <form th:action="@{/user/add_user}"  th:object="${userForm}" method="post">
    <table>

        <tr>
            <td align="right" width="100">
                <div style="height: 30px">
                    User name:
                </div>
                <div style="height: 30px">
                    Address:
                </div>
                <div style="height: 30px">
                    Login:
                </div>
                <div style="height: 30px">
                    Password:
                </div>
                <div style="height: 30px">
                    ConfirmPassword:
                </div>
            </td>
            <td align="left" width="100">
                <div >
                    <input type="text" id="name" th:field="*{user.name}" placeholder="Name" />
                </div>
                <div >
                    <input type="text" id="address" th:field="*{user.address}" placeholder="Address" />
                </div>
                <div>
                    <input type="text" id="username" th:field="*{username}" placeholder="Username" />
                </div>
                <div>
                    <input type="password" th:field="*{password}" id="password" placeholder="Password" />
                </div>
                <div>
                    <input type="password" th:field="*{confirmPassword}" id="confirmPassword" placeholder="Confirm Password" />
                </div>

            </td>

        </tr>

    </table>
            <input  type="submit" value="Create"/>
        </form>
    </fieldset>



      </div>
      <div class="size">
                <fieldset>
                    <legend>Edit/Delete users</legend>
                    <form name="e/d" action="#" th:action="@{/user/find_user}"  th:object="${userF}" method="POST">
                        <table>
                            <tr>
                                <td>Id     :</td>
                                <td>Name   :</td>
                                <td>Address   :</td>
                            </tr>
                            <tr>
                                <td><input type="text" th:field="*{id}"/></td>
                                <td><input type="text" th:field="*{name}"/></td>
                                <td><input type="text" th:field="*{address}"/></td>
                                <td><input type="hidden" th:field="*{id_auth}"/></td>
                            </tr>
                            <tr>
                                <td><input type="submit" value="Find" /></td>
                                <td><input type="submit" value="Edit" formaction="/user/edit_user"/></td>
                                <td><input type="submit" value="Delete" formaction="/user/delete_user"/></td>
                            </tr>
                        </table>
                    </form>
                </fieldset>
            </div>

        </td>
    </tr>
</table>
<footer>
    <div>
        <h2>Aleksey Yasakov</h2>
    </div>
</footer>
</body>
</html>