<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
    .prokrutka {
    margin: auto;
            height: 200px; /* высота нашего блока */
            width: 800px; /* ширина нашего блока */
    overflow-y: scroll; /* прокрутка по вертикали */
    }
    </style>
    <meta charset="utf-8"/>
    <title>Help_desk</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>


<table width="100%"
       style="height:100%">
    <tr>
        <td width="15%">

        </td>
        <td width="85%">
            <div style="width: 800px;
           margin: auto;">
                <fieldset>
                    <legend>Log</legend>
                    <div th:text="${error}">ERROR!</div>
                </fieldset>
            </div>
        </td>
    </tr>
</table>

<footer>
    <div>
        <h2>Aleksey Yasakov</h2>
    </div>
</footer>
</body>
</html>