<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="page">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/css/theme.css}" />

</head>
<body>

    <div>
        <div >
            <ul sec:authorize="isAuthenticated()"/>
            <form sec:authorize="isAuthenticated()"th:action="@{/logout}" method="post">
                <button type="submit" >Logout</button>
            </form>
            <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
                <li><a th:href="@{/profile}" sec:authentication="name">Profile</a></li>
            </ul>
            <ul sec:authorize="!isAuthenticated()" class="nav navbar-nav navbar-right">
                <li><a th:href="@{/login}">Sign In</a></li>
                <li><a th:href="@{/registration}">Sign Up</a></li>
            </ul>
        </div>
    </div>


</body>
</html>