<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <title>Help_desk</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <style>
    .prokrutka {
    margin: auto;
            height: 200px; /* высота нашего блока */
            width: 500px; /* ширина нашего блока */
    overflow-y: scroll; /* прокрутка по вертикали */
    }
    </style>
    <style>
        .size {
        margin: auto;
        height: 130px; /* высота нашего блока */
        width: 500px; /* ширина нашего блока */
        }
       </style>
</head>
<body>
<div th:replace="fragments/include :: header"></div>

<table width="100%"
       style="height:100%">
    <tr>
        <td width="15%">
            <div th:replace="fragments/include :: menu"></div>
        </td>
        <td width="85%">
<div align="center" style="margin: auto;
                    height: 50px;
                    width: 500px;">
                <h1>Edit quality</h1>
</div>

   <div style="width: 500px;
           margin: auto;">
   <div align="left" >
    <table border="1" >
                              <tr>
                    <th width="40">id</th>
                    <th width="200">name</th>
                </tr>

            </table>
             </div>

            <div align="left" class="prokrutka">
            <table border="1" >
                <tr th:each="statuss : ${statuss}">
                    <td width="40" th:text="${statuss.id}"></td>
                    <td width="200" th:text="${statuss.name}"></td>
                </tr>
            </table>
            </div>
            </div>


<div class="size">
          <fieldset>
              <legend>Add status</legend>
              <form th:action="@{/status/add_status}"  th:object="${status}" method="post">
                  <div >
                      <input type="text" id="name" th:field="*{name}" placeholder="status" />
                  </div>
                  <input type="submit" value="Create"/>
              </form>
          </fieldset>
      </div>
      <div class="size">
                <fieldset>
                    <legend>Edit/Delete status</legend>
                    <form name="e/d" action="#" th:action="@{/status/find_status}"  th:object="${statusF}" method="POST">
                        <table>
                            <tr>
                                <td>Id     :</td>
                                <td>Name   :</td>
                            </tr>
                            <tr>
                                <td><input type="text" th:field="*{id}"/></td>
                                <td><input type="text" th:field="*{name}"/></td>
                            </tr>
                            <tr>
                                <td><input type="submit" value="Find" /></td>
                                <td><input type="submit" value="Edit" formaction="/status/edit_status"/></td>
                                <td><input type="submit" value="Delete" formaction="/status/delete_status"/></td>
                            </tr>
                        </table>
                    </form>
                </fieldset>
            </div>

        </td>
    </tr>
</table>
<div th:replace="fragments/include :: footer"></div>
</body>
</html>